/* Estilo para el fondo de la página */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Estilo para el contenedor principal */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para los botones */
.btn-space {
    margin-right: 10px;
}

/* Estilo para la lista de suposiciones anteriores */
.list-group {
    max-height: 200px;
    overflow-y: auto;
}

/* Estilo para el mensaje de resultado */
#resultadoMensaje {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Estilo para el mensaje de aliento */
#mensajeAliento {
    font-weight: bold;
    text-align: center;
    display: none;
    color: green;
    margin-top: 10px;
}

/* Estilo para el temporizador */
#contadorTiempo {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

/* Estilo para el canvas de estadísticas */
#estadisticasCanvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #333;
}
